<!DOCTYPE html>
<html style="height: 100%">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,">
  <script src="./libs/p5.min.js"></script>
  <!-- <script src="./libs/p5.dom.min.js"></script> -->
  <!-- <script src="./libs/p5.sound.min.js"></script> -->
  <%# <script src="./libs/plotly-latest.min.js"></script> %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="./libs/howler/howler.core.js"></script>
  <script src="https://hammerjs.github.io/dist/hammer.js"></script>
  <script src="./libs/screenfull.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Slackey&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <!-- <style></style> -->
  <script>
  var startTracks = <%= tracks %>;
  // console.log(startTracks);
  </script>
  <script src="trackSoundUpdate.js"></script> 
  <script src="client.js"></script>

  <script src="accGraph.js"></script>
  <script src="touchUISetup.js"></script>

  <script src="soundViz.js"></script>
  <script src="levelDetection.js"></script>
</head>

<body>


  
  <div id="landingPage">
      <div id="projectNameColor">we-Shake<br>.fun</div>
      <div id="projectName">we-Shake<br>.fun</div>
      <div id="startMessage">Tap To Start</div>
      <div id="loading1"><div id="loading1bk"></div></div>
      <div id="loading2"><div id="loading2bk"></div></div>
      <div id="loading3"><div id="loading3bk"></div></div>
      <div id="loading4"><div id="loading4bk"></div></div>
  </div>
  
  <div id="main">
    <div id="accGraph"></div>


    <!-- <label for="rangeinput">Threshold</label> <input id="rangeinput" type="range" min="0" max="10" value="4" onchange="rangevalue.value=value"> <output id="rangevalue">4</output> -->

    <div class="trackBar" id="track1">
      <div id="track1Viz"></div>
    </div>
    <div class="trackBar" id="track2">
      <div id="track2Viz"></div>
    </div>
    <div class="trackBar" id="track3">
      <div id="track3Viz"></div>
    </div>
    <div class="trackBar" id="track4">
      <div id="track4Viz">
        <!--<span id="localBump">0</span>
        <span id='remoteBump' style="color:white;">0</span>
        <span id='syncBump'>0</span> -->
      </div>
    </div>
  </div>

</body>

</html>