 :root {
   --track-dim: 30%;
   --track-bright: 50%;
   --loading-dim: 0%;
 }

 .trackBar {
   cursor: pointer;
   width: 100%;
   height: 25%;
   padding: 0%;
   margin: 0%;
   font-size: 2.0em;
   /* text-align: center; */
   /* color: black; */
 }

 #track1 {
   background-color: hsl(0, 100%, var(--track-dim));
   z-index: -2;
 }


 #track1Viz {
   width: 0%;
   height: 100%;
   display: inline-block;
   background-color: hsl(0, 100%, var(--track-bright));
   z-index: -1;
 }

 #track2 {
   background-color: hsl(113, 100%, var(--track-dim));
   z-index: -2;
 }

 #track2Viz {
   width: 0%;
   height: 100%;
   display: inline-block;
   background-color: hsl(113, 100%, var(--track-bright));
   z-index: -1;
 }

 #track3 {
   background-color: hsl(189, 100%, var(--track-dim));
   z-index: -2;
 }

 #track3Viz {
   width: 0%;
   height: 100%;
   display: inline-block;
   background-color: hsl(189, 100%, var(--track-bright));
   z-index: -1;
 }

 #track4 {
   background-color: hsl(298, 100%, var(--track-dim));
   z-index: -2;
 }


 #track4Viz {
   width: 0%;
   height: 100%;
   display: inline-block;
   background-color: hsl(298, 100%, var(--track-bright));
   z-index: -1;
 }

 #accGraph {
   display: block;
 }

 #landingPage {
   display: block;
   height: 100vh;
   width: 100%;
   margin: 0%;
   padding: 0%;
   background-color: black;
   text-align: center;
   /* z-index: -3; */
 }

 #projectName {
   position: fixed;
   top: 30%;
   left: 50%;
   animation: 1s shake infinite alternate;
   font-size: 20vw;
   font-family: 'Gochi Hand', cursive;
   color: hsl(0, 0%, 0%);
   z-index: 1;
 }

 .loadingBar {
   /* cursor: pointer; */
   width: 100%;
   height: 25%;
   padding: 0%;
   margin: 0%;
   background-color: black;
 }

 #loading1 {
   padding: 0%;
   width: 0%;
   height: 25%;
   background-color: hsl(0, 100%, var(--track-bright));
 }

 #loading1bk {
   background-color: black;
   padding: 0%;
   width: 0%;
   height: 100%;
 }

 #loading2 {
   padding: 0%;
   width: 0%;
   height: 25%;
   background-color: hsl(113, 100%, var(--track-bright));
 }

 #loading2bk {
   background-color: black;
   padding: 0%;
   width: 0%;
   height: 100%;
   }

 #loading3 {
   padding: 0%;
   width: 0%;
   height: 25%;
   background-color: hsl(189, 100%, var(--track-bright));

 }

 #loading3bk {
    background-color: black;
    padding: 0%;
    width: 0%;
    height: 100%;
 }

 #loading4 {
   padding: 0%;
   width: 0%;
   height: 25%;
   background-color: hsl(298, 100%, var(--track-bright));

 }

 #loading4bk {
      background-color: black;
      padding: 0%;
      width: 0%;
      height: 100%;
 }


 #main {
   display: none;
   height: 100vh;
   width: 100%;
 }


 @keyframes shake {
   0% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(-15deg) translateX(-50%);
   }

   5% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(15deg) translateX(-50%);
   }

   10% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(-15deg) translateX(-50%);
   }

   15% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(15deg) translateX(-50%);
   }

   20% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(0deg) translateX(-50%);
   }

   100% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(0deg) translateX(-50%);
   }
 }

 html,
 body {
   margin: 0;
   padding: 0;
   height: 100%;
 }

 /* canvas {
  display: block;
} */