 :root {
   --track-dim: 30%;
   --track-bright: 50%;
   --loading-dim: 0%;
 }

 .trackBar {
   cursor: pointer;
   width: 100%;
   height: 25%;
   padding: 0%;
   margin: 0%;
   font-size: 2.0em;
   /* text-align: center; */
   /* color: black; */
 }

 #track1 {
   background-color: hsl(0, 100%, var(--track-dim));
   z-index: -2;
 }


 #track1Viz {
   width: 0%;
   height: 100%;
   display: inline-block;
   background-color: hsl(0, 100%, var(--track-bright));
   z-index: -1;
 }

 #track2 {
   background-color: hsl(113, 100%, var(--track-dim));
   z-index: -2;
 }

 #track2Viz {
   width: 0%;
   height: 100%;
   display: inline-block;
   background-color: hsl(113, 100%, var(--track-bright));
   z-index: -1;
 }

 #track3 {
   background-color: hsl(189, 100%, var(--track-dim));
   z-index: -2;
 }

 #track3Viz {
   width: 0%;
   height: 100%;
   display: inline-block;
   background-color: hsl(189, 100%, var(--track-bright));
   z-index: -1;
 }

 #track4 {
   background-color: hsl(298, 100%, var(--track-dim));
   z-index: -2;
 }


 #track4Viz {
   width: 0%;
   height: 100%;
   display: inline-block;
   background-color: hsl(298, 100%, var(--track-bright));
   z-index: -1;
 }

 #accGraph {
   display: block;
 }

 #landingPage {
   display: block;
   height: 100vh;
   width: 100%;
   margin: 0%;
   padding: 0%;
   /* background-color: black; */
   text-align: center;
   /* z-index: -3; */
 }
 #projectName {
   position: fixed;
   top: 50%;
   /* left: 33%; */
   animation: 1s shake infinite alternate;
   /* transform: translateX(-50%) translateY(-50%); */
   font-size: 15em;
   font-family: 'Gochi Hand', cursive;
   color: hsl(0, 0%, 0%);
   z-index: 1;
 }
 .loadingBar {
     /* cursor: pointer; */
     width: 100%;
     height: 25%;
     padding: 0%;
     margin: 0%;
     background-color: black;
 }
 #loading1 {
   padding: 0%;
   width: 0%;
   height: 100%;
   background-color: hsl(0, 100%, var(--track-bright));
   /* z-index: -1; */
 }
  #loading1bk {
    background-color: hsl(0, 100%, var(--loading-dim));
    /* z-index: -2; */
  }
 #loading2 {
   padding: 0%;
   width: 0%;
   height: 100%;
   background-color: hsl(113, 100%, var(--track-bright));
   /* z-index: -1; */
 }
 #loading2bk {
   background-color: hsl(113, 100%, var(--loading-dim));
   /* z-index: -2; */
 }
 #loading3 {
   padding: 0%;
   width: 0%;
   height: 100%;
   background-color: hsl(189, 100%, var(--track-bright));

   /* z-index: -1; */
 }
 #loading3bk {
   background-color: hsl(189, 100%, var(--loading-dim));
   /* z-index: -2; */
 }
 #loading4 {
   padding: 0%;
   width: 0%;
   height: 100%;
   background-color: hsl(298, 100%, var(--track-bright));
   /* z-index: -1; */
 }

  #loading4bk {
    background-color: hsl(298, 100%, var(--loading-dim));
    /* z-index: -2; */
  }


 #main {
   display: none;
   height: 100vh;
   width: 100%;
 }


 @keyframes shake {
   0% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(-15deg);
   }

   5% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(15deg);
   }

   10% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(-15deg);
   }

   15% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(15deg);
   }

   20% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(0deg);
   }

   100% {
     /* transform: translateX(-50%) translateY(-50%); */
     transform: skewX(0deg);
   }
 }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* canvas {
  display: block;
} */
